
.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cart-container img{
    width: 100px;
    padding: 5px;
}